<script>
	$(function() {
		$( "#dateOfBirth" ).datepicker({ dateFormat: 'dd-mm-yy' });
		$( "#anniversaryDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
		$( "#child1DatePicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
		$( "#child2DatePicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
		$( "#child3DatePicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
		$( "#child4DatePicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
	});
</script>
<%= form_for(@client_info) do |f| %>
  <% if @client_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_info.errors.count, "error") %> prohibited this client_info from being saved:</h2>

      <ul>
      <% @client_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Client Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Client Address" %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth , :id => "dateOfBirth"%>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :job_post %><br>
    <%= f.text_field :job_post %>
  </div>
  <div class="field">
    <%= f.label :name_of_company %><br>
    <%= f.text_field :name_of_company %>
  </div>
  <div class="field">
    <%= f.label :job_expirience_year %><br>
    <%= f.number_field :job_expirience_year %>
  </div>
  <div class="field">
    <%= f.label :income %><br>
    <%= f.text_field :income %>
  </div>
  <div class="field">
    <%= f.label :economical_liability %><br>
    <%= f.text_field :economical_liability %>
  </div>
  <div class="field">
    <%= f.label :number_of_child %><br>
    <%= f.number_field :number_of_child %>
  </div>
  <div class="field">
    <%= f.label :anniversary_date %><br>
    <%= f.text_field :anniversary_date,:id => "anniversaryDate" %>
  </div>
 <br><br>
	Child Age :(1) <input type="number" name="child_info[age[1]]"><br>
	Child Age :(2) <input type="number" name="child_info[age[2]]"><br>
	Child Age :(3) <input type="number" name="child_info[age[3]]"><br>
	Child Age :(4) <input type="number" name="child_info[age[4]]"><br>
	Child Date of Birth :(1) <input type="text" name="child_info[dob[1]]" id="child1DatePicker"><br>
	Child Date of Birth :(2) <input type="text" name="child_info[dob[2]]" id="child2DatePicker"><br>
	Child Date of Birth :(3) <input type="text" name="child_info[dob[3]]" id="child3DatePicker"><br>
	Child Date of Birth :(4) <input type="text" name="child_info[dob[4]]" id="child4DatePicker"><br>
	<br>
	Personal Assets<br>
	House : <input type="number" name="house[owned]"> Owned
	<input type="number" name="house[rented]"> Rented
	<input type="number" name="house[co_provider]"> Co Provided<br>
	
	Vehicle : <input type="number" name="vehicle[four_wheeler]"> 4 Wheeler
	<input type="number" name="vehicle[two_wheeler]"> 2 Wheeler
	<input type="number" name="vehicle[none]"> None<br>
	<br>
	How Many More Years Do You Intend To Work ?<br>

	<input type="radio" name="client_info[intend_to_work]" value="<5">< 5 Year
<br>	<input type="radio" name="client_info[intend_to_work]" value="5-10">5 To 10 Year<br>
	<input type="radio" name="client_info[intend_to_work]" value="11-15">11 To 15 Year<br>
	<input type="radio" name="client_info[intend_to_work]" value=">15">15 Year & More<br>
	<br>
	What is the duration of your goals? <br>
	
	Short term : <input type="text" name="client_info[short_term_goal]"> ( Vacation, Dream Car etc.)<br>
	Long term : <input type="text" name="client_info[long_term_goal]"> ( Child eduction, Child Marriage & Retirement)<br>
	<br>
	What Age would you wish to Retire ?  <input type="text" name="client_info[retirement_age]"> <br>
	
	Have you planned for your:-<br>
	1) Child Education <input type="text" name="client_info[plan_child_education]"> <br>
	2) Child Marriage <input type="text" name="client_info[plan_child_marriage]"> <br>
	3) Retirement fund <input type="text" name="client_info[plan_retirement_fund]"> <br>
	(keeping inflation in consideration).
	<br><br>
	What kind of investments do you prefer the most?<br>
	(% allocation in different instruments)<br>
	
	1) Fixed Income ( FD, POST, PPF) <input type="text" name="investment_type[fix_income]">%<br>
	2) Equity( Direct, MF, SIP) <input type="text" name="investment_type[equity]">%<br>
	3) Gold <input type="text" name="investment_type[gold]">%<br>
	4) Land & Estate <input type="text" name="investment_type[land_and_estate]">%<br>
<br>

When you invest your money, your primary goal is to:-<br>

1) Preserve the value of investment and minimize the risk of my wealth losing value<br>
2) Generate current income and also grow the value of investments over time by taking<br>
little risk<br>
3) Grow the value of investments moderately over time by taking a fair level of risk<br>
4) Grow the value of <br>


<h2>Thank You</h2>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
