<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client_info.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client_info.address %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @client_info.pincode %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @client_info.date_of_birth %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @client_info.mobile %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client_info.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client_info.email %>
</p>

<p>
  <strong>Education:</strong>
  <%= @client_info.education %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client_info.occupation %>
</p>

<p>
  <strong>Job post:</strong>
  <%= @client_info.job_post %>
</p>

<p>
  <strong>Name of company:</strong>
  <%= @client_info.name_of_company %>
</p>

<p>
  <strong>Job expirience year:</strong>
  <%= @client_info.job_expirience_year %>
</p>

<p>
  <strong>Income:</strong>
  <%= @client_info.income %>
</p>

<p>
  <strong>Economical liability:</strong>
  <%= @client_info.economical_liability %>
</p>

<p>
  <strong>Number of child:</strong>
  <%= @client_info.number_of_child %>
</p>

<p>
  <strong>Anniversary date:</strong>
  <%= @client_info.anniversary_date %>
</p>

<%= link_to 'Edit', edit_client_info_path(@client_info) %> |
<%= link_to 'Back', client_infos_path %>
