<h3>Protection Calculator</h3>

<%= label_tag 'Current Monthly Expenses' %>
<%= text_field_tag 'current_monthly_expenses', "Enter Current Monthly Expenses" %>

<%= label_tag 'Current Annual Expenses' %>
<%= text_field_tag 'current_annual_expenses', "Enter Current Annual Expenses" %>

<%= label_tag 'Current Liability' %>
<%= text_field_tag 'current_liability', "Enter Current Liability" %>

<%= label_tag 'Inflation Rate' %>
<%= text_field_tag 'inflation_rate', "Enter Inflation Rate" %>

<%= label_tag 'Assumed risk free rate' %>
<%= text_field_tag 'assumed_risk_rate', "Enter Assumed risk free rate" %>

<%= label_tag 'Enter Growth Rate' %>
<%= text_field_tag 'growth_rate', "Enter Growth rate" %>

<%= label_tag 'Capital Required to Maintain Lifestyle' %>
<%= text_field_tag 'future_monthly_amount' %>

<%= label_tag 'Recommended Life Cover' %>
<%= text_field_tag 'recommended_life_cover' %>

<%= label_tag 'Monthly Primium' %>
<%= text_field_tag 'monthly_premium' %>
<br/>
<br/>
<%= button_tag "Calculate", :class => "btn"  %>