<h3>Retirment Calculator</h3>

<%= label_tag 'Curent Age' %>
<%= text_field_tag 'current_age', "Enter Current Age" %>

<%= label_tag 'Years to Retirment' %>
<%= text_field_tag 'remaining_years', "Enter Years to Retire" %>

<%= label_tag 'Current Monthly Amount' %>
<%= text_field_tag 'monthly_amount', "Enter Current Monthly Amount" %>

<%= label_tag 'Inflation Rate' %>
<%= text_field_tag 'inflation_rate', "Enter Inflation Rate" %>

<%= label_tag 'Annuity Rate' %>
<%= text_field_tag 'annuity_rate', "Enter Annuity Rate" %>

<%= label_tag 'Enter Growth Rate' %>
<%= text_field_tag 'growth_rate', "Enter Growth rate" %>
<br/>
<br/>
<%= button_tag "Calculate", :class => "btn"  %>
<br/>

<h3>Retirment Calculation for future and monthly premium: </h3>
<br/>
<br/>

<%= label_tag 'Future Monthly Amount' %>
<%= text_field_tag 'future_monthly_amount',nil,disabled: true %>

<%= label_tag 'Retirment Kitty' %>
<%= text_field_tag 'retirment_itty',nil,disabled: true %>

<%= label_tag 'Monthly Primium' %>
<%= text_field_tag 'monthly_premium',nil,disabled: true %>


