<h3>Wealth Calculator</h3>

<%= label_tag 'Curent Age' %>
<%= text_field_tag 'current_age', "Enter Current Age" %>

<%= label_tag 'Years to Retirment' %>
<%= text_field_tag 'remaining_years', "Enter Years to Retire" %>

<%= label_tag 'Current cost of goal' %>
<%= text_field_tag 'current_cost_of_goal', "Enter Current cost of goal" %>

<%= label_tag 'Inflation Rate' %>
<%= text_field_tag 'inflation_rate', "Enter Inflation Rate" %>

<%= label_tag 'Enter Growth Rate' %>
<%= text_field_tag 'growth_rate', "Enter Growth rate" %>

<%= label_tag 'Future Cost' %>
<%= text_field_tag 'future_cost' %>

<%= label_tag 'Monthly Primium' %>
<%= text_field_tag 'monthly_premium' %>
<br/>
<br/>
<%= button_tag "Calculate", :class => "btn" %>