<li>
  <a href="<%= root_url %>">
    <img src="/assets/logo.png" style="width: 80px; height: 80px;">
  </a>
  <a href="<%= root_url %>">
    <h2 style="text-align: center; margin-top: -40px; margin-bottom: 40px;">
      Zimmedari ka safar
    </h2>
  </a>
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete , :style => "margin-left: 90%;") %>
  <% end %>
</li>

<ul class="nav nav-pills nav-justified" style="margin-left: 150px;">
  <li style="margin-right: 20px;"><a href="<%= root_url %>"><h4>Home</h4></a></li>
  <li><a href="<%= calculator_path %>"><h4>Calculator</h4></a></li>
</ul>